.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  z-index: 50;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(5, 5, 7, 0.96);
  border-radius: 25px;
  overflow: hidden;
  a {
    color: #fff;
  }
}